
modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"
packages = ["emacs"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx react-native start --host 0.0.0.0"

[[ports]]
localPort = 8081
externalPort = 80
