
modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"
packages = ["unixtools.netstat"]

[workflows]
runButton = "Run Web"

[[workflows.workflow]]
name = "Run"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash ./pre_stop.sh && npx react-native start --host 0.0.0.0"

[[workflows.workflow]]
name = "Run Web"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash ./pre_stop.sh && npm run web"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8081
externalPort = 80
