
modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"
packages = ["unixtools.netstat", "killall"]

[workflows]
runButton = "Run All Tests"

[[workflows.workflow]]
name = "Run"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash ./pre_stop.sh && npx react-native start --host 0.0.0.0"

[[workflows.workflow]]
name = "Run Web"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash ./pre_stop.sh && npm run web"

[[workflows.workflow]]
name = "Run All Tests"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x run-all-tests.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run-all-tests.sh"

[[workflows.workflow]]
name = "Run Mock Data Test"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x run-mock-data-test.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run-mock-data-test.sh"

[[workflows.workflow]]
name = "Run DataAPI Test"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x run-dataapi-test.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run-dataapi-test.sh"

[[workflows.workflow]]
name = "Run Account Setup Test"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x run-account-setup-test.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run-account-setup-test.sh"

[[workflows.workflow]]
name = "Fix and Test"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x run-account-setup-test.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run-account-setup-test.sh"

[[workflows.workflow]]
name = "Run Mock Tests"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x run-mock-data-test.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run-mock-data-test.sh"

[[workflows.workflow]]
name = "Debug Mock Test"
author = 41550643
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x run-mock-data-test.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run-mock-data-test.sh"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8081
externalPort = 80
